.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    min-height: 75px;
}

.cabecalho h2{
    font-size: 3rem;
    font-weight: 700;
} 
.cabecalho nav ul{
    font-size: 2rem;
}

.cabecalho nav ul a:hover{
    color: white;
    transition: 0.5s;
    background: lightsalmon;
}

.introducao{
    background-image: url(../images/lemons.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.introducao::after{
    content: url("../images/seta_preta.png");
    position: absolute;
    height: 35px;
    bottom: 40px;
    animation: downarrow 0.7s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow{
    0%{ -webkit-transform: translateY(0) ;opacity: 0.6;}
    100%{ -webkit-transform: translateY(0.4em) ; opacity: 0.9;}
}

.introducao .texto-principal{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3.2rem;
}

.sobre .imagem.direita{
    background: url(../images/bridge.jpg) center center no-repeat;
    background-size: cover;
}
.sobre .imagem.esquerda{
    background: url(../images/sky.jpg) center center no-repeat;
    background-size: cover;
}

.sobre{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 0 auto;
}

.sobre div{
    display: flex;
    flex-direction: column;
}

.sobre .items{
    padding: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.sobre .items .titulo-dos-items{
    font-size: 4rem;
}

.sobre .items p{
    margin: 30px 0;
    font-size: 1.8rem;
}

.sobre .items a{
    font-size: 1.6rem;
    align-self: flex-start;
}

.sobre .imagem{
    height: 100%;
    width: 100%;
}

.servicos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.servicos .items-servicos.servico-1{
    background-color: lightskyblue;
}
.servicos .items-servicos.servico-2{
    background: lightpink;
}

.servicos > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.servicos .items-servicos .titulo-projeto{
    font-size: 1.8rem;
    margin: 30px 0;
}

.servicos .items-servicos .texto-projeto{
    font-size: 2rem;
}

.projetos a{
    width: 100%;
}

.projetos a img{
    width: 100%;
    height: 1fr
}

.projetos a:hover img{
    transform: scale(1.02);
    opacity: 0.8;
    transition: .5s;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgreen;
    padding: 60px 0;
    
}
.rodape ul > a{
    display: none;
}

.rodape .titulo-rodape{
    font-size: 2.5rem;
}

.rodape nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 40px 0;
}

.rodape ul {
    text-align: center;
    width: 90%;
    display: flex;
    font-size: 2rem;
    justify-content: space-evenly;
    margin: 0 10%;
}

.rodape .redes-sociais a{
    margin: 20px;
    font-size: 2rem;
}

.rodape .redes-sociais a:hover{
    color: white;
}
